

body {
  background-color: #2f2f2f;
  overflow-x: hidden;
  overflow-y: auto;
}

#fb {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 30px;
  transition: visibility 0s, opacity 0.5s linear;
}
#about:hover #fb {
  visibility: visible;
}

#gh {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 30px;
  transition: visibility 0s, opacity 0.5s linear;
}
#blog:hover #gh {
  visibility: visible;
}

#ln {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 30px;
  transition: visibility 0s, opacity 0.5s linear;
}
#projects:hover #ln {
  visibility: visible;
}

#tw {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 30px;
  transition: visibility 0s, opacity 0.5s linear;
}
#contact:hover #tw {
  visibility: visible;
}



/*Transição de pagina*/
.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(1);
  transform-origin: left;
  transform: translateY(0);
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);

}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(1);
}

.transition-swipe {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(100px);
}

/* Track */
body::-webkit-scrollbar {
  width: 5px;

}
body::-webkit-scrollbar-track {
  background: rgb(130, 135, 136);

}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(74, 114, 126); 
  border-radius: 25px;
 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; 

}
/* Slideshow container */

  .mySlides {
    padding: 80px;
    height: 470px;
    width: 88%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: #2f2f2f;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    position: fixed;
    cursor: pointer; 
    top: 45%;
    width: auto;
    margin-top: 250px;
    padding: 16px;
    color: #888;
    background-color: #2f2f2f;
    border: none;
    font-weight: bold;
    font-size: 60px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: fixed;
    right: 65px;
    border-radius: 3px 0 0 3px;
  }

  .next:hover {
    color: white;
    transform: translate3d(30px,0,0);
    transition: all .5s;
  }

  .next:hover  #HiddenTextNext {
    display: block; 
  }


  .prev:hover #HiddenTextPrev {
    display: block;

  }
  #HiddenTextPrev {
    display: none;
    position: fixed;
    left: 65px;
    top: 10px;
    color: #8a8a8a;
    font-size: 30px;
}

.prev:hover #HiddenTextPrev {
  display: block;
}

  #HiddenTextNext {
    display: none;
    position: absolute;
    left: -90px;
    top: 10px;
    color: #8a8a8a;
    font-size: 30px;
}

.next:hover  #HiddenTextNext {
  display: block;
}


  
  .prev:focus, .next:focus {
    outline: none;
  }

  .prev {
    position: fixed;
    left: 65px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover {
    transform: translate3d(-30px,0,0);
    transition: all .5s;
  }
  
  .prev:focus, .next:focus {
    outline: none;
  }
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }

  /*Hamburger*/

  .container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right:60px;
    z-index: 2;
  }
  
  .bar1, .bar2, .bar3 {
    position: relative;
    z-index: 2;
    width: 35px;
    height: 5px;
    background-color: #7A7A7A;
    margin: 6px 20px;
    transition: 0.4s;
  }


  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 { 
    opacity: 0;
  }
  
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }



  /*Curtain*/

  /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #333; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    height: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /*Redes sociais sidenav*/
#mySidenav {
  position: fixed;
  left: -7px;
  margin-top: 80px;
}
  
  /* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -65px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 19px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  height: 22px;
  background-color: #4868ad;
}

.fa-facebook {
  text-align: right;
  position: absolute;
  right: 33px;
  font-size: 20px;
}

#about:hover .fa-facebook{
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.fa-github {
  text-align: right;
  position: absolute;
  right: 33px;
  font-size: 20px;
}

#blog:hover .fa-github {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.fa-linkedin {
  text-align: right;
  position: absolute;
  right: 33px;
  font-size: 20px;
}

#projects:hover .fa-linkedin {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.fa-twitter {
  text-align: right;
  position: absolute;
  right: 33px;
  font-size: 20px;
}

#contact:hover .fa-twitter {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#blog {
  top: 80px;
  height: 22px;
  background-color: #4e545a;
}

#projects {
  top: 140px;
  height: 22px;
  background-color: #0077ba;
}

#contact {
  top: 200px;
  height: 22px;
  background-color: #3299ff;
}

/*Texto*/

#texto {
  color: #fff;
  position: absolute;
  top: 170px;
  left: 400px;
}

/*Página 1*/
#titulo {
  color: #cacaca;
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

#corpo {
  color: #8a8a8a;
  font-size: 1.05em;
  line-height: 1.95em;
  font-weight: 400;
  font-family: Lato,Helvetica,Arial,sans-serif;
}

/*Página 2*/
#titulo2 {
  color: #cacaca;
  position: absolute;
  left: 300px;
  top: 60px;
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;
  transition-delay: .4s;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

#corpo2 {
  color: #8a8a8a;
  font-size: 1.05em;
  text-align: initial;
  top: 145px;
  left: 300px;
  position: absolute;
  line-height: 1.95em;
  font-weight: 400;
  font-family: Lato,Helvetica,Arial,sans-serif;
}

ul {
  column-count: 2;
  list-style: none;
  display: inline-block;
  position: absolute;
  left: 261px;
  top: 250px;
  
}

li {
  position: relative;
  width: 340px;
  height: 250px;
  background-color: white;
  margin-block-end: 30px;
  margin-left: 18px;
  
}

.container_foto {
  position: relative;
  width: 100%;
  box-shadow: 10px 6px 0 rgba(0,0,0,.15);

}

.container_foto:hover .imagem {
  opacity: 0.3;
}

.container_foto:hover .middle {
  opacity: 1;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 25px;

}

.middle {
  transition: 0ms;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 75px;
  padding: 15px 25px;
  width: 199px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.middle:hover {
  background-color: #3e8e41;
}

.middle:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rodape {
  position: absolute;
  left: 500px;
  top: 1140px;
  width: 500px;
  height: 180px;
  color: white;
}

#rodape_titulo {
  color: #cacaca;
  position: absolute;
  bottom: 110px;
  left: 120px;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;
  transition-delay: .4s;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

#rodape_texto {
  color: #8a8a8a;
  font-size: 1.05em;
  text-align: center;
  position: absolute;
  left: -33px;
  bottom: 10px;
  line-height: 1.95em;
  font-weight: 400;
  font-family: Lato,Helvetica,Arial,sans-serif;
}

/*Página 3*/

#titulo3 {
  color: #cacaca;
  position: absolute;
  left: 300px;
  top: 60px;
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
  letter-spacing: -1.5px;
  transition-delay: .4s;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

#corpo3 {
  color: #8a8a8a;
  font-size: 1.05em;
  text-align: initial;
  top: 145px;
  left: 300px;
  position: absolute;
  line-height: 1.95em;
  font-weight: 400;
  font-family: Lato,Helvetica,Arial,sans-serif;
}

.input{
  width: 635px;
  position: absolute;
  height: 60px;
  top: 278px;
  left: 300px;
  background-color: #2f2f2f;
  border: none;
  border-bottom: 1px solid #cec6c6;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 18px;
}

.input:focus {
  outline: none;
  color: #fff;
}

.input:active {
  color: #fff;
}

.button {
  position: absolute;
  left: 300px;
  top: 370px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


